---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=&page=0&per_page=100&q=rosetta%20euler&sort=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1442372460'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":3,"incomplete_results":false,"items":[{"id":11888299,"name":"rosetta-euler","full_name":"seaneshbaugh/rosetta-euler","owner":{"login":"seaneshbaugh","id":858870,"avatar_url":"https://avatars.githubusercontent.com/u/858870?v=3","gravatar_id":"","url":"https://api.github.com/users/seaneshbaugh","html_url":"https://github.com/seaneshbaugh","followers_url":"https://api.github.com/users/seaneshbaugh/followers","following_url":"https://api.github.com/users/seaneshbaugh/following{/other_user}","gists_url":"https://api.github.com/users/seaneshbaugh/gists{/gist_id}","starred_url":"https://api.github.com/users/seaneshbaugh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/seaneshbaugh/subscriptions","organizations_url":"https://api.github.com/users/seaneshbaugh/orgs","repos_url":"https://api.github.com/users/seaneshbaugh/repos","events_url":"https://api.github.com/users/seaneshbaugh/events{/privacy}","received_events_url":"https://api.github.com/users/seaneshbaugh/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/seaneshbaugh/rosetta-euler","description":"Solutions
        to Project Euler problems in many different languages.","fork":false,"url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler","forks_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/forks","keys_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/keys{/key_id}","collaborators_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/teams","hooks_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/hooks","issue_events_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/issues/events{/number}","events_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/events","assignees_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/assignees{/user}","branches_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/branches{/branch}","tags_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/tags","blobs_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/git/refs{/sha}","trees_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/git/trees{/sha}","statuses_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/statuses/{sha}","languages_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/languages","stargazers_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/stargazers","contributors_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/contributors","subscribers_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/subscribers","subscription_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/subscription","commits_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/commits{/sha}","git_commits_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/git/commits{/sha}","comments_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/comments{/number}","issue_comment_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/issues/comments{/number}","contents_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/contents/{+path}","compare_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/compare/{base}...{head}","merges_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/merges","archive_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/downloads","issues_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/issues{/number}","pulls_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/pulls{/number}","milestones_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/milestones{/number}","notifications_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/labels{/name}","releases_url":"https://api.github.com/repos/seaneshbaugh/rosetta-euler/releases{/id}","created_at":"2013-08-05T02:06:39Z","updated_at":"2015-09-15T23:45:53Z","pushed_at":"2015-06-17T04:39:24Z","git_url":"git://github.com/seaneshbaugh/rosetta-euler.git","ssh_url":"git@github.com:seaneshbaugh/rosetta-euler.git","clone_url":"https://github.com/seaneshbaugh/rosetta-euler.git","svn_url":"https://github.com/seaneshbaugh/rosetta-euler","homepage":null,"size":2145,"stargazers_count":14,"watchers_count":14,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":14,"default_branch":"master","score":14.832777},{"id":14416382,"name":"Rosetta-Euler","full_name":"apandit/Rosetta-Euler","owner":{"login":"apandit","id":218657,"avatar_url":"https://avatars.githubusercontent.com/u/218657?v=3","gravatar_id":"","url":"https://api.github.com/users/apandit","html_url":"https://github.com/apandit","followers_url":"https://api.github.com/users/apandit/followers","following_url":"https://api.github.com/users/apandit/following{/other_user}","gists_url":"https://api.github.com/users/apandit/gists{/gist_id}[...]
