---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=&page=0&per_page=5&q=rails%20language:JavaScript&sort=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1442417729'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?order=&page=2&per_page=5&q=rails+language%3AJavaScript&sort=>;
        rel="next", <https://api.github.com/search/repositories?order=&page=200&per_page=5&q=rails+language%3AJavaScript&sort=>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":7302,"incomplete_results":false,"items":[{"id":5955861,"name":"rails","full_name":"cointhink/rails","owner":{"login":"cointhink","id":3934318,"avatar_url":"https://avatars.githubusercontent.com/u/3934318?v=3","gravatar_id":"","url":"https://api.github.com/users/cointhink","html_url":"https://github.com/cointhink","followers_url":"https://api.github.com/users/cointhink/followers","following_url":"https://api.github.com/users/cointhink/following{/other_user}","gists_url":"https://api.github.com/users/cointhink/gists{/gist_id}","starred_url":"https://api.github.com/users/cointhink/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cointhink/subscriptions","organizations_url":"https://api.github.com/users/cointhink/orgs","repos_url":"https://api.github.com/users/cointhink/repos","events_url":"https://api.github.com/users/cointhink/events{/privacy}","received_events_url":"https://api.github.com/users/cointhink/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/cointhink/rails","description":"bitcoin
        market information and scripting system","fork":false,"url":"https://api.github.com/repos/cointhink/rails","forks_url":"https://api.github.com/repos/cointhink/rails/forks","keys_url":"https://api.github.com/repos/cointhink/rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cointhink/rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cointhink/rails/teams","hooks_url":"https://api.github.com/repos/cointhink/rails/hooks","issue_events_url":"https://api.github.com/repos/cointhink/rails/issues/events{/number}","events_url":"https://api.github.com/repos/cointhink/rails/events","assignees_url":"https://api.github.com/repos/cointhink/rails/assignees{/user}","branches_url":"https://api.github.com/repos/cointhink/rails/branches{/branch}","tags_url":"https://api.github.com/repos/cointhink/rails/tags","blobs_url":"https://api.github.com/repos/cointhink/rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cointhink/rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cointhink/rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/cointhink/rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cointhink/rails/statuses/{sha}","languages_url":"https://api.github.com/repos/cointhink/rails/languages","stargazers_url":"https://api.github.com/repos/cointhink/rails/stargazers","contributors_url":"https://api.github.com/repos/cointhink/rails/contributors","subscribers_url":"https://api.github.com/repos/cointhink/rails/subscribers","subscription_url":"https://api.github.com/repos/cointhink/rails/subscription","commits_url":"https://api.github.com/repos/cointhink/rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/cointhink/rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/cointhink/rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/cointhink/rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/cointhink/rails/contents/{+path}","compare_url":"https://api.github.com/repos/cointhink/rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cointhink/rails/merges","archive_url":"https://api.github.com/repos/cointhink/rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cointhink/rails/downloads","issues_url":"https://api.github.com/repos/cointhink/rails/issues{/number}","pulls_url":"https://api.github.com/repos/cointhink/rails/pulls{/number}","milestones_url":"https://api.github.com/repos/cointhink/rails/milestones{/number}","notifications_url":"https://api.github.com/repos/cointhink/rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cointhink/rails/labels{/name}","releases_url":"https://api.github.com/repos/cointhink/rails/releases{/id}","created_at":"2012-09-25T20:06:24Z","updated_at":"2015-05-20T19:21:04Z","pushed_at":"2015-03-11T18:43:47Z","git_url":"git://github.com/cointhink/rails.git","ssh_url":"git@github.com:cointhink/rails.git","clone_url":"https://github.com/cointhink/rails.git","svn_url":"https://github.com/cointhink/rails","homepage":"https://cointhink.com","size":3625,"stargazers_count":17,"watchers_count":17,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":9,"mirror_url":null,"open_issues_count":1,"forks":9,"open_issues":1,"watchers":17,"default_branch":"master","score":34.838367},{"id":2140555,"name":"tinymce-rails","full_name":"spohlenz/tinymce-rails","owner":{"login":"spohlenz","id":7600,"avatar_url":"https://avatars.githubusercontent.com/u/7600?v=3","gravatar_id":"","url":"https://api.github.com/users/spohlenz","html_url":"https://github.com/spohlenz","followers_url":"https://api.github.com/users/spohlenz/followers","following_url":"https://api.github.com/users/spohlenz/following{/other_user}","gists_url":"https://api.github.com/users/spohlenz/gists{/gist_i[...]
